<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">We provide these services with full customer satisfaction.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Mobile Recharges</h4>
                    <p class="text-muted">Get the latest updates on best recharges at our shop, Visit us to know more about the ongoing deals and discounts.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Mobiles and Laptops</h4>
                    <p class="text-muted">Get the latest quality mobile, laptops and accessories like mobile covers, cables, chargers at a reasonable price.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Digital Solutions</h4>
                    <p class="text-muted">We have all the softwares needed in Laptops and mobiles and other Digital Solutions. Get Online jobs PAN, ITR, Railway Reservation etc with ease at out shop. </p>
                </div>
            </div>
        </div>
    </section>